<div id="empform">
<fieldset>
<h1 style="text-align:center;">Employee details</h1>

<table id="pattern">
  <tr>
    <th>Name</th>
    <th>Emailid</th>
    <th>Dateofjoining</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emp.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td><%= emp.emailid %></td>
    <td><%= emp.dateofjoining %></td>
    <td><%= emp.position %></td>
    <td><%= link_to 'Invite', send_invitation_path %></td>
    <td><%= link_to 'show', emp %></td>
    <td><%= link_to 'Edit', edit_emp_path(emp) %></td>
    <td><%= link_to 'Destroy', emp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


</fieldset>
</div>
