<div id="user_nav" style="float:right;position:absolute;right:10px;top:10px;">

  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
  
</div>
<div id="invitation">
<fieldset>
<div style="position:relative;top:30%;left:10%;">
<p id="notice"><%= notice %></p>	
<p>
  <b>Sender:</b>
  <%= @invitation.sender_id %>
</p>

<p>
  <b>Recipient email:</b>
  <%= @invitation.recipient_email %>
</p>

<p>
  <b>Token:</b>
  <%= @invitation.token %>
</p>

<!--<p>
  <b>Sent at:</b>
  <%= @invitation.sent_at %>
</p>--->



<%= link_to 'Back', depts_path %>
</div>
</fieldset>
</div>
