<div id="form">
<p id="notice"><%= notice %></p>

<dl>
  <dt><b>Name:</b></dt>
  <dd><%= @form.emp_name %></dd>

  <dt><b>Leavetype:</b></dt>
  <dd><%= @form.leavetype %></dd>



  <dt><b>From:</b></dt>
  <dd><%= @form.from %></dd>



  <dt><b>To:</b></dt>
  <dd><%= @form.to %></dd>



  <dt><b>Reason:</b></dt>
  <dd><%= @form.reason %></dd>
</dl>
</div>
